<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <center>
        <h2>Welcome to <%= title %></h2>
        <label>Size: <input type="text" id="sizeField"></label>
        <label>Dim: <input type="text" id="dimField"></label>
        <label>Max: <input type="text" id="maxField"></label>
        <input type="button" value="Zacznij grę!" id="buttonStartGame">
        <div id="gameContent"></div>
    </center>
  </body>
</html>
